body {
  margin: 0;
  padding: 0;
  background-color:  #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
a {
  text-decoration: none;
  }
.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
  }
/*--Header--*/

.main-header {
  padding: 49px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.main-header-logo:hover {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-navigation a {
  text-decoration: none;
  margin: 0 24px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: black;
}
 .basket {
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
 }
 .basket img {
  margin-right: 26px;
}
 /*--Information--*/

.information {
  background-color: #eeeeee;
}
.information b {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 19px;
}
.information p {
  color: #283136 ;
  font-size: 16px ;
  font-weight: 400 ;
  line-height: 24px;
}
 .information a {
  color: №ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.information-button {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #fb565a;
  border-radius: 5px;
  border: none;
}

/*--Services--*/

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 30px 0 30px;
}
.services p {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 40px 0 40px;
}
.button1 {
  background-color: #fb565a;
  color: #eeeeee;
  padding: 19px 39px 18px;
  border-radius: 5px;
  border: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
.button2 {
  background-color: #00ca74;
  color: #eeeeee;
  padding: 19px 39px 18px;
  border-radius: 5px;
  border: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
.button3 {
  background-color: #efc84a;
  color: #eeeeee;
  padding: 19px 39px 18px;
  border-radius: 5px;
  border: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
/*--About us--*/
.aboutus b {
   color: #000000;
   font-size: 45px;
   font-weight: 500;
   line-height: 45px;
}
.aboutus p {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.aboutus ul {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.aboutus h4 {
  margin: 40px 0;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}
.aboutus dd {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}
.aboutus dt {
  color: #283136;
  line-height: 18px;
  font-weight: 400;
  font-size: 16px;
}
.logos {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.map-section{
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  min-height: 415px;
}

.address h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.address {
  display: none;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background: white;
}
.address address {
  color: #666666;
  font-size: 16px;
  font-weight: 400 ;
  line-height: 18px ;
}
.address a {
  color: #666666;
  font-size: 16px;
  font-weight: 400 ;
  line-height: 18px ;
}
.text-footer b {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.text-footer p {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
footer li {
    list-style: none;
    margin: 0 10px;
}

/*--Catalog--*/
.gray {
  background-color: #eeeeee;
}
.gray h1 {
  margin: 0;
}
.headline h1 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.form-text {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.sort {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.label-items {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.informational-sedona h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.informational-sedona p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.pages a {
  color: #000000 ;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.information-button:hover,
.information-button:focus {
  background-color: #e74246;
  opacity: 1;
}
.information-button:active {
  background-color: #d7373b;
  color: rgb(255, 255, 255, 0.3);
}
.menu-buttons {
  position: relative;
}
.menu-buttons.active::after {
  content: "" ;
  position: absolute;
  bottom: -12px ; 
  left: 3px;
  right: 3px;
  height: 2px;
  background-color: #fb565a; 
}
 .menu-buttons:hover,
 .basket:hover,
 .menu-buttons:focus,
 .basket:focus { 
  color:rgb(251, 86, 90, 1);
}
.menu-buttons:active,
.basket:active {
  color: rgb(0, 0, 0, 0.3);
}
.button1:hover,
.button1:focus {
  background-color:#e74246;
  opacity: 1;
}
.button1:active {
  background-color: #d7373b;
  color: rgb(255, 255, 255, 0.3);
}
.button2:hover,
.button2:focus{
  background-color:#00bc6c;
  opacity: 1;
}
.button2:active {
  background-color:#00aa62 ;
  color: rgb(255, 255, 255, 0.3);
}
.button3:hover,
.button3:focus {
  background-color:#eab534;
  opacity: 1;
}
.button3:active {
  background-color: #e5a722;
  color:rgb(255, 255, 255, 0.3);
}
.logos img {
  opacity: 0.2;
}
.logos img:hover {
  opacity: 1;
}
.logos img:active {
  opacity: 0.1;
}
.show-button {
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;  
  padding: 19px 88px 18px;
  border-radius: 5px;
  border: none;
}
.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
  opacity: 1;
}
.show-button:active {
  background-color: #d5d5d5;
  color:rgb(0, 0, 0, 0.3) ;
}
.page {
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 19px 13px 19px 21px;
  border-radius: 5px;
  border: none;
  position: relative;

}
.page-next {
  background-color: #eeeeee;
  padding: 19px 88px 18px;
  border-radius: 5px;
  border: none;
}
.page-next:hover,
.page-next:focus {
  background-color: #d5d5d5;
}
.page-next:active {
  background-color: #d5d5d5;
  color: #ffffff;
}
.page:hover, 
.page:focus {
  background-color: #dfdfdf;
}
.page:active {
  background-color: #d5d5d5;
  color: #ffffff;
}
.page.active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.icon {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover,
.icon:focus {
  background-color: #e74246;
}
.icon:active {
  background-color: #d7373b;
}
.icon:active img {
  opacity: 0.3;
}
.sort {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.sort:hover,
.sort:focus {
  opacity: 0.6;
}
.sort:active {
opacity: 1;
}
.button-write{
  background-color: #fb565a;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.button-write:hover,
.button-write:focus {
  background-color: #e74246;
  opacity: 1;
}
.button-write:active {
  background-color: #d7373b;
  color: rgb(255, 255, 255, 0.3);
}
.allo {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #d7373b;
  padding: 100px; 
  left: 300px;
  right: 300px;
}
.block {
  position: relative;
  display: inline-block;
  margin: 30px;
}
.informational-sedona {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color:  #eeeeee;
  opacity: 0;
}
.block:hover .informational-sedona {
  opacity: 1;
}
.card-header {
  display: flex;
  background-color: #e9e9e9;
  padding: 10px;
}
.block:hover .card-header {
  background-color: #4d4d4d;
}
.card-header div {
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border-radius: 50%;
}
.price {
  background-color: #fb565a;
  color:#eeeeee;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;  
  padding: 19px 88px 18px;
  border-radius: 5px;
  border: none;
}
.price:hover,
.price:focus {
  background-color: #e74246;
}
.price:active {
  background-color: #d7373b;
}
.informational-sedona h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.informational-sedona p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.name {
  border: 2px solid #d7dcde;  
  background-color: #ffffff;
}
.name:hover, 
.name:focus {
  border: 2px solid #b4b9bb;
  background-color: #ffffff;
}
.name:active {
  border: 2px solid #000000;
  background-color: #ffffff;
}
.name.invalid {
  border: 2px solid #e74246;
  background-color: #ffffff;
}

/*--Секта--*/
.slides {
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  background-size: contain;
  min-height: 400px;
}
.slide-content {
  max-width: 400px;
}
.slide1 {
  background-image: url("../img/slide1.png");
}
.slide2 {
  background-image: url("../img/slide2.png");
}
.slide3 {
  background-image: url("../img/slide3.png");
}
.our-services {
  width: 300px;
  padding: 80px 0;
}
hr {
  width: 100%;
  background-color: #eeeeee;
  border: none;
  height: 2px;
}
.slogan {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 72px;
}
.slogan-statistics {
  width: 650px;
  margin: 20px 0 0;
}
.nerds-statistics {
  width: 350px;
} 
.modal-window {
  display: none;
}
footer ul {
  display: flex;
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
}
.container h1 {
  text-align: center;
  padding: 100px 0 115px;
}
.page-columns {
  display: flex;
  margin: 60px 0;
}
.left-column {
  width: 200px;
}
.right-column {
  flex-grow: 1;
}
.selection {
  border: none;
}
.information-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pages {
  margin: 60px 90px 60px;
}

