body {
  margin: 0;
  padding: 0;
  background-color:  #ffffff;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
a {
  text-decoration: none;
  }
.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  }
.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  display: block;
  flex-flow: row wrap;
  align-items: flex-start;
}
.main-header {
  padding: 49px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1160px;
}
.main-header-logo:hover {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-navigation a {
  text-decoration: none;
  margin: 0 24px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: black;
}
.basket {
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
 }
.basket img {
  margin-right: 26px;
}
.information {
  background-color: #eeeeee;
}
.information b {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 19px;
}
.information p {
  color: #283136 ;
  font-size: 16px ;
  font-weight: 400 ;
  line-height: 24px;
}
 .information a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.information-button {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #fb565a;
  border-radius: 5px;
  border: none;
}
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 30px 0 30px;
}
.services p {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 40px 0 40px;
}
.button1 {
  background-color: #fb565a;
  color: #eeeeee;
  padding: 19px 39px 18px;
  border-radius: 5px;
  border: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
.button2 {
  background-color: #00ca74;
  color: #eeeeee;
  padding: 19px 39px 18px;
  border-radius: 5px;
  border: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
.button3 {
  background-color: #efc84a;
  color: #eeeeee;
  padding: 19px 39px 18px;
  border-radius: 5px;
  border: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
.aboutus b {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}
.aboutus p {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.aboutus ul {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.aboutus h4 {
  margin: 40px 0;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}
.aboutus dd {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}
.aboutus dt {
  color: #283136;
  line-height: 18px;
  font-weight: 400;
  font-size: 16px;
}
.logos {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.map-section{
  margin-top: 80px;
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: brown;
  background-size: cover;
  min-height: 415px;
}
.address h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 30px;
}
.address {
  margin: 50px;
  position: absolute;
  padding: 50px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  background: white;
}
.address address {
  color: #666666;
  font-size: 16px;
  font-weight: 400 ;
  line-height: 18px ;
  font-style: normal;
}
.address address a {
  color: #666666;
  font-size: 16px;
  font-weight: 400 ;
  line-height: 18px ;
}
.address p {
  margin-bottom: 20px;
}
.text-footer {
  margin-top: 20px;
}
.text-footer b {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.text-footer p {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
footer li {
  list-style: none;
  margin: 0 10px;
}
.gray {
  background-color: #eeeeee;
}
.gray h1 {
  margin: 0;
}
.headline h1 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.form-text {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.sort {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 20px;
}
.label-items {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.informational-sedona h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.informational-sedona p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.pages a {
  color: #000000 ;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.information-button:hover,
.information-button:focus {
  background-color: #e74246;
  opacity: 1;
}
.information-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.menu-buttons {
  position: relative;
}
.menu-buttons.active::after {
  content: "" ;
  position: absolute;
  bottom: -12px ; 
  left: 3px;
  right: 3px;
  height: 2px;
  background-color: #fb565a; 
}
.menu-buttons:hover,
.basket:hover,
.menu-buttons:focus,
.basket:focus { 
  color:rgba(251, 86, 90, 1);
}
.menu-buttons:active,
.basket:active {
  color: rgba(0, 0, 0, 0.3);
}
.button1:hover,
.button1:focus {
  background-color:#e74246;
  opacity: 1;
}
.button1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.button2:hover,
.button2:focus{
  background-color:#00bc6c;
  opacity: 1;
}
.button2:active {
  background-color:#00aa62 ;
  color: rgba(206, 191, 191, 0.3);
}
.button3:hover,
.button3:focus {
  background-color:#eab534;
  opacity: 1;
}
.button3:active {
  background-color: #e5a722;
  color:rgba(255, 255, 255, 0.3);
}
.logos img {
  opacity: 0.2;
}
.logos img:hover,
.logos img:focus {
  opacity: 1;
}
.logos img:active {
  opacity: 0.1;
}
.show-button {
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;  
  padding: 19px 88px 18px;
  border-radius: 5px;
  border: none;
}
.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
  opacity: 1;
}
.show-button:active {
  background-color: #d5d5d5;
  color:rgba(0, 0, 0, 0.3) ;
}
.page {
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 19px 13px 19px 21px;
  border-radius: 5px;
  border: none;
  position: relative;
}
.page-next {
  background-color: #eeeeee;
  padding: 19px 88px 18px;
  border-radius: 5px;
  border: none;
}
.page-next:hover,
.page-next:focus {
  background-color: #d5d5d5;
}
.page-next:active {
  background-color: #d5d5d5;
  color: #ffffff;
}
.page:hover, 
.page:focus {
  background-color: #dfdfdf;
}
.page:active {
  background-color: #d5d5d5;
  color: #ffffff;
}
.page.active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.icon {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover,
.icon:focus {
  background-color: #e74246;
}
.icon:active {
  background-color: #d7373b;
}
.icon:active img {
  opacity: 0.3;
}
.sort {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.sort:hover,
.sort:focus {
  opacity: 0.6;
}
.sort:active {
 opacity: 1;
}
.button-write{
  display: block;
  background-color: #fb565a;
  padding: 16px;
  text-align: center;
  width: 220px;
  color: #fff;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
}
.button-write:hover,
.button-write:focus {
  background-color: #e74246;
  opacity: 1;
}
.button-write:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.block {
  position: relative;
  display: inline-block;
  margin: 30px 0;
  vertical-align: inherit;
}
.informational-sedona {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color:  #eeeeee;
  opacity: 0;
}
.block:hover .informational-sedona {
  opacity: 1;
}
.card-header {
  display: flex;
  background-color: #e9e9e9;
  padding: 10px;
}
.block:hover .card-header {
  background-color: #4d4d4d;
}
.card-header div {
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}
.price {
  background-color: #fb565a;
  color:#eeeeee;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;  
  padding: 15px 60px;
  border-radius: 3px;
  border: none;
  margin: 15px 80px 40px;
}
.price:hover,
.price:focus {
  background-color: #e74246;
}
.price:active {
  background-color: #d7373b;
}
.informational-sedona h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.informational-sedona p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.name {
  border: 2px solid #d7dcde;  
  background-color: #ffffff;
}
.name:hover, 
.name:focus {
  border: 2px solid #b4b9bb;
  background-color: #ffffff;
}
.name:active {
  border: 2px solid #000000;
  background-color: #ffffff;
}
.name.invalid {
  border: 2px solid #e74246;
  background-color: #ffffff;
}
.slider {
  position: relative;
}
.slider-item {
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  background-size: contain;
  min-height: 400px;
}
.slide-content {
  max-width: 400px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
  background-size: 70%;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 60%;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
  background-size: 60%;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.our-services {
  width: 300px;
  padding: 80px 0;
}
.line {
  width: 100%;
  background-color: #eeeeee;
  border: none;
  height: 2px;
}
.slogan {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 72px;
}
.slogan-statistics {
  max-width: 650px;
  margin: 20px 0 0;
}
.nerds-statistics {
  width: 350px;
} 
footer ul {
  display: flex;
}
.social-icons {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.container h1 {
  text-align: center;
  padding: 100px 0 115px;
}
.page-columns {
  display: flex;
  margin: 60px 0;
}
.left-column {
  width: 260px;
}
.right-column {
  flex-grow: 1;
  margin-left: 140px;
}
.selection {
  border: none;
}
.information-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pages {
  margin: 60px 130px 60px;
}
.percent {
  display: flex;
justify-content: space-between
}
.percent > div {
width: 30%;
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.percent dt {
  margin-top: 20px;
}
.percent dd {
  margin: 0;
  line-height: 100%;
}
.container1 {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}
.button-cart {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  margin-top: 45px;
}
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 100px 80px;
  background-color: white;
  border: none;
  box-shadow: 0 20px 40px rgba(0,0,0,0.75);
  width: 960px;
  box-sizing: border-box;
}
.my-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.my-details label {
  width: 48%;
  font-weight: bold;
}
.modal-window textarea {
  width: 100%;
  padding: 12px 13px 90px;
  margin-top: 14px;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
}
.my-details input {
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  display: block;
  padding: 15px;
  border-radius: 2px;
}
.modal-window h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 45px;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto; 
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative; 
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 50px;
}
.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.label-items {
  display: block;
  padding-left: 36px;
  padding-top: 6px;
  position: relative;
  cursor: pointer;
}
.label-items::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #999;
}
.checkbox-control:checked + .label-items::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 6px;
  width: 18px;
  height: 6px;
  border-bottom: 4px solid #999;
  border-left: 4px solid #999;
  transform: rotate(-45deg);
}
.checkbox-control:checked:disabled + .label-items {
  opacity: 0.4;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.label-items-radio {
  display: block;
  padding-left: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  cursor: pointer;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.label-items-radio::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #999;
  box-sizing: border-box;
}
.radio-control:checked + .label-items-radio::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 13px;
  width: 9px;
  height: 9px;
  background-color: #999;
  border-radius: 50%;
}
.radio-control:checked:disabled + .label-items-radio {
  opacity: 0.4;
}
.sort-section {
  display: flex;
}
.sort-section-controls {
  margin-left: auto;
  display: flex;
}
.button-sort {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 20px;
  background-repeat: no-repeat;
} 
.button-sort-asc {
  margin: 0 15px 0 40px; 
 background-image: url(../img/icon-down-dir.png)
}
.button-sort-desc {
 background-image: url(../img/icon-up-dir.png)
}
