body {
    margin: 0;
    padding: 0;
    background-color:  #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
a {
    text-decoration: none;
  }
  .visually-hidden  {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/*--Header--*/

.main-header {
    background-color: #eeeeee;
    padding: 49px 140px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header-logo:hover {
   opacity: 0.8;
}
.main-header-logo:active {
    opacity: 0.3;
}
.main-navigation a {
    text-decoration: none;
    margin: 0 24px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: black;
}

 .basket span {
    width: 74px;
    height: 13px;
    color: #000000;
    line-height: 30px;
    text-transform: uppercase;
 }
 img {
    margin-right: 26px;
}
 /*--Первый блок со слайдами--*/

.information {
    background-color: #eeeeee;
}
b {
   width: 376px;
   height: 106px;
   color: #000000;
   font-size: 55px;
   font-weight: 500;
   line-height: 55px;
   margin-bottom: 19px;
}
a {
    width: 361px;
    height: 40px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.slider1 a {
    width: 240px;
    height: 50px;
    background-color: #fb565a;
}
.information-button {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #fb565a;
    border-radius: 5px;
    border: none;
}
/*--Услуги--*/
.services {
    display: flex;
    justify-content: space-between;
}
h3 {
    height: 23px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.services p {
    width: 239px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.button1 {
    width: 160px;
    height: 50px;
    background-color: #fb565a;
    color: #eeeeee;
    padding: 19px 39px 18px;
    border-radius: 5px;
    border: none;
}
.button2 {
    width: 160px;
    height: 50px;
    background-color: #00ca74;
    color: #eeeeee;
    padding: 19px 39px 18px;
    border-radius: 5px;
    border: none;
}
.button3 {
    width: 160px;
    height: 50px;
    background-color: #efc84a;
    color: #eeeeee;
    padding: 19px 39px 18px;
    border-radius: 5px;
    border: none;
}
/*--Второй красный блок--*/
.aboutus b {
    width: 1440px;
    height: 1925px;
}
.aboutus p {
    width: 616px;
    height: 40px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
ul {
    width: 429px;
    height: 160px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
h4 {
color: #000000;
font-family: "Roboto - Bold";
font-weight: 700;
text-transform: uppercase;
}
dd {
    width: 93px;
    height: 35px;
    color: #000000;
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
}
.logos {
    display: flex;
    justify-content: space-between;
}
